---
---

@import "main";

body {
    scroll-behavior: smooth;
} 

#header #logo {
    /* margin: -0.25rem; */
}

#header #logo img {
    margin: 0 15px;
}

#header.alt img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

#header a {
    line-height: 1; /* Set a standard line height */
}

#header  a span {
    vertical-align: middle; /* Options: baseline, middle, sub, super, etc. */
}

#header  a, a span {
    line-height: 1.2em; /* Or your preferred line height */
}

#header  a {
    display: inline-flex;
    align-items: center; /* Vertically centers all child elements */
}

